
* {
    box-sizing: border-box;
}

.listing{
    max-width: 600px;
    padding: 15px;
    font-size: 62.5%;
    margin: auto;
}

.list-row{
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 5px;
    height: 90px;
    vertical-align: top;
    margin: 5px;
    display: grid;
    grid-template-columns: 90px 1fr;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}

.list-row-stats{
    display: flex;
    justify-content: space-between;
    font-size: .6rem;
    line-height: 2rem;
}

.list-row-image{
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-row-text{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding: 15px;
}

.list-row-tile{
    font-size: 2rem;
    margin: 0;
}

.list-pagenation {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
}