body{
    margin: 0px;
    padding: 0px;
}

.video-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

.video-control-bar{
    background-color: "#FF0000";
    color: white;
    position: absolute;
}