
.dashboard-container button {
    border-radius: 10px;
    margin: 7px;
}

.dashboard-container input {
    border-radius: 10px;
    margin: 7px;
    padding: 3px;
    width: 270px;
}

.dashboard-container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.add-video {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.add-video div {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: larger;
}

.add-video-upload-progress {
    display: flex;
    flex-direction: row;
}

.add-video-upload-progress progress {
    flex-grow: 1;
}

.video-player {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

.video-player-progress{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.video-player-step {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.video-player-step-title {
    line-height: 40px;
    flex-grow: 1;
}

.video-player-step-arrow {
    flex-grow: 0;
    height: 40px;
    width: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
}